.updateMessage {

  .changeMessage {
    padding-left: 18px;
    margin-right: 5%;
  }

  #thinksBtn{
    margin: 0 4%;
  }

  .thinksBtndisable {
    background-color: #c9c4c4;
    color: rgb(131, 128, 128);
    border: none;
  }

  .thinksBtnable {
    background-color: #5aacf8;
    color: #fff;
    border: none;
  }
}