
.showClubPhotos {
  .itemPhoto {
    width: 300px;
    height: 280px;
    padding: 1%;
    margin: 1%;
    border: 1px solid rgb(103, 189, 238);
    box-shadow: 0 0 8px 0 rgb(103, 189, 238);
    border-radius: 8px;
  }
}